<launch>

  <node name="stair_car_hw_node" pkg="gohi_hw_stair_car" type="stair_car_hw_node" />

  <param name="robot_description" command="$(find xacro)/xacro $(find gohi_gazebo)/urdf/gohi.urdf.xarco" />

  <rosparam file="$(find gohi_hw_stair_car)/config/config.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="stair_car_controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/stair_car_mobile_base" args="joint_state_controller joint1_position_controller joint2_position_controller stair_car_mobile_base_controller"/>

  <node name="stair_car_robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" >
      <remap from="/joint_states" to="/stair_car_mobile_base/joint_states"/>
  </node>


</launch>
